<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: main-header"></head>
<body>
<nav th:include="fragments/navbar :: main-nav"></nav>

<h1>Posts</h1>

<div id="posts">
</div>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"
>
</script>

<script src="/js/posts.js"></script>

<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>