<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head :: main-header">
</head>
<body>
<nav th:include="fragments/navbar :: mainNav"></nav>

<h1 th:text="${'Hello, ' + user.name}"></h1>

<p>Here are your posts!</p>

<div th:each="post : ${posts}">
    <h3>
        <a th:href="${'/posts/' + post.id}" th:text="${post.title}"></a>
    </h3>
    <p th:text="${post.body}"></p>
    <a th:href="${'/posts/edit/' + post.id}">Edit post</a>
</div>

<footer th:include="fragments/footer :: footer"></footer>
</body>
</html>