<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

</head>
<body>
<!--/////////////////////////////////////////////////////////////////////////////////////////////-->
<nav id="main-nav" th:fragment="mainNav" class="navbar navbar-default">
    <div class="container-fluid">
        <ul>
            <li>
                <form th:action="@{/logout}" th:method="post">
                    <div th:if="${user == null}">
                        <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                    </div>
                    <div th:if="${user}">
                        <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</nav>
<!--/////////////////////////////////////////////////////////////////////////////////////////////-->
</body>
</html>